h1 {
  text-align: center;
}

#green-yellow {
  background-color: GreenYellow;
}

#blue {
  background-color: CornFlowerBlue;
}

#yellow {
  background-color: yellow;
}

#equal li {
  background-color: GreenYellow;

}

#two-sides li {
  background-color: CornFlowerBlue;
}

#none li {
  background-color: yellow;
}
